<form action="/submit" method="POST">
  <div class="form-group">
    <p class="pull-left lead title">Create New</p>
    <p class="pull-right"><a href="/"><span class="glyphicon glyphicon-remove"></span></a></p>
    <input name="cardTitle" type="text" id="title_field" class="form-control" placeholder="Add Title"/>
    <textarea class="form-control" name="cardContent" rows="12" id="content_field" placeholder="Add Description..."></textarea>
  </div>
  <input type="submit" class ="btn btn-default" value="Add" />
</form>
