{% extends "layout.html" %}

{% block content %}
    {% if show_form %}
      <div class="card">
        {% include "./partials/_card_form.html" %}
      </div>
    {% endif %}
    {% for card in cards %}
    <div class="card">
      <div class="card-header">
        <p class="pull-left title lead">
          {% if !card.title %}
            No Title
          {% endif %}
          {{card.title}}
        </p>
        <form action="/{{card.url_name}}/delete" method="POST">
          <button type="submit" class="btn pull-right">
              <p><span class="glyphicon glyphicon-remove"></span></p>
          </button>
        </form>

      </div>
      <hr>
      {{card.content}}
    </div>
  {% endfor %}
{% endblock %}
